body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background:url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    background-size:cover;
    background-position: left;

}
#navbar{
    background-color: white;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;
    position: fixed;
    
}
.logo{
    width: 40px;
    height: 40px;
}
.dropdown-wrapper{
    display: inline-block;
    position: relative;
}
.dropdown{
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid rgb(170, 210, 54); 
    background-Color: white;
    box-shadow: 0 2px 5px #ccc;
    width: 150px;
    padding: 20px;
    position: absolute;
    right: 10px;
    display: none;
    
}
.menu-item1{
    Font-Family: 'Poppins', sans-serif; 
    Color: black;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-right: 24px ;
}
.dropdown-wrapper:hover .dropdown{
    display: block;
}
 

.dropdown > a{
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
}
.dropdown :nth-child(3){
    border-bottom: none;
}
.menu-item{
    Font-Family: 'Poppins', sans-serif; 
    Color: black;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-right: 24px ;
}
.menuitem > i{
    padding-left: 4px;
}
.primary-btn{
    font-size: 10px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}
#landingsection{
    width: 100%;
    height: 100vh;
}
#maintext{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#maintext > h1{
    width: 100%;
    max-width: 1100px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
}
#maintext > p{
    width: 100%;
    max-width: 1100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
    padding-top: 32px
}
#stepsection{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: stretch;

}
.step-item{
    width: 25%;
    padding: 112px 48px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}
.step-item:hover >i{
    transform: scale(1.1);
}
#firststep{
    background-color:#5acda6 ;
}

#secondstep{
    background-color: #91ac41; 
}

#thirdstep{
    background-color:#e4b476;
}

#fourthstep{
    background-color:#f69dad;
}
.step-item > i{
    font-size: 96px;
    transition: all 0.3s;;
}
.step-item > h3{
    font-weight: 600;
    font-size: 24px;
}
.step-item > p{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-top: 0;
}
#storesection{
    width: 100%;
    background-color: #f7eee2;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}
#freshfood-heading{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}
#hed {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}
#store-dec {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}
.store-wrapper{
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: stretch;
    margin: 0 auto;
}
#store-item{
    width: 25%;
    text-align: center;
    padding: 24px;
}
#item-icon{
    display: inline-block;
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
    transition: all 0.3s;
}
#store-item:hover > #item-icon{
    transform: scale(1.1);
}
#item-icon > i{
    font-size: 60px;
}
#store-item > h3{
    font-size: 24px;
    font-weight: 600;
}
#store-item > p{
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}
#testmonial{
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    
}
#testhead{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
    text-align: center;
}
#testhead1{
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    text-align: center;
}
#testdes{
    max-width: 700px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}
#testmonial-wrapper{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.testmonial-item{
    width: 25%;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: box-shadow 0.3s;
}
.test-img{
    width: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
}
.test-msg{
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}
.test-name{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}
.test-job{
    color: #8b8b99;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.5px;
    margin: 0;
}
#follow{
    display: flex;
    justify-content: stretch;
}
#left-section{
    width: 67%;
    display: inline-block;
    margin: 0;
}

#left-section img {
    width: 100%;
}
#right-section{
    width: 33.33%;
    margin: 0;
    display: inline-block;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png');
    background-position: left;
    background-size: cover;
    
}
#right-section #text-wrapper {
    margin: 115px;
    
}
#right-section #text-wrapper h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
}
#right-section #text-wrapper p {
    color: #8b8b99;
    font-size: 16px;
    letter-spacing: 0.5;
    line-height: 1.6;
    margin: 0;
}
#subscribe-email {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    color: #8b8b99;
    font-size: 16px;
    margin-top: 60px;
    display: block;
}
#subscribe-btn {
    background-color: #f69dad;
    padding: 16px 42px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
}
#stats{
    width: 100%;
    background-color: #f6fcfa;
}
#stats-wrapper{
    width: 100%;
    max-width: 1140px;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: stretch;
}
.stats-item {
    width: 25%;
    padding: 0 64px;
}
.stats-item h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
}
.stats-item p {
    color: #57e3b5;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}
#video{
    display: block;
}
#video > div {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
#vh{
    color: #8b8b99;
    font-size: 44px;
    font-weight: 400;
}
#line-separator {
    width: 96px;
    display: inline-block;
    height: 1px;
    background-color: #e4b476;
    margin-bottom: 36px;
}
#vp{
    width: 100%;
    height: 425px;
}
#address{
    display: block;
}
#address-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
#address-wrapper > div {
    width: 50%;
}
#address-wrapper > div:last-of-type {
    width: 40%;
}
.green-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}
.section-heading {
    font-size: 600;
    font-size: 44px;
    margin: 0;
}
.section-description {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}
.address-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 32px;
}
.address-lines {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}
.input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
}
#btn-submit {
    font-size: 16px;
}
footer {
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
}
    
    
   
    





